/* Placing all the variable at top.*/
:root {
    --orange: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --lightGrey: hsl(217, 12%, 63%);
    --mediumGrey: hsla(216, 12%, 54%, 0.205);
    --darkBlue: hsl(213, 19%, 18%);
    --veryDarkBlue: hsl(216, 12%, 8%);
  }

  * {
      box-sizing: border-box;
  }

  body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: "Overpass", sans-serif;
    background-color: var(--veryDarkBlue);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card {
    width: 28%;
    background-color: var(--darkBlue);
    padding: 2em;
    border-radius: 1.5em;
    display: flex;
    flex-direction: column;
    /* height: 20%; */
  }


  .icon-star span {
      padding: 1em;
      border-radius: 50%;
      background-color: var(--mediumGrey);
  }


  .rating-header {
    color: var(--white);
    font-size: 1.6rem;
    margin-top: 1em;
  }

  .rating-content {
    font-size: 1rem;
    color: var(--lightGrey);
  }

  .ratings {
      display: flex;
      list-style: none;
      width: 100%;
      justify-content: space-between;
      padding: 0;
  }

  .rating {
      color: var(--lightGrey);
      min-width: 3rem;
      min-height: 3rem;
      border-radius: 50%;
      background-color: var(--mediumGrey);
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      font-size: 1rem;
      transition-duration: 0.5s;
  }

  .rating:hover {
      color: var(--white);
      background-color: var(--orange);
  }

  #selected {
      background-color: var(--lightGrey);
      color: var(--white)
  }

  .submit {
    display: flex;
    border-radius: 8rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: var(--white);
    background: var(--orange);
    transition-duration: 0.5s;
    border: none;
  }

  .submit:hover {
      color: var(--darkBlue);
      background-color: var(--white);
  }

  .card-thank {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .selected-rating {
        background-color: var(--mediumGrey);
        padding: 0.5em 1em;
        font-size: 0.8rem;
        border-radius: 4rem;
        color: var(--orange);
  }

  .thank__header {
      color: var(--white);
      font-size: 1.6rem;
  }

  .thank__content {
      color: var(--lightGrey);
      font-size: 1rem;
      margin-top: 0;
      text-align: center;
  }


  @media only screen and (max-width: 600px) {
    .card {
        width: 90%;
    }
  }