/* Placing all the variable at top.*/
:root {
    --orange: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --lightGrey: hsl(217, 12%, 63%);
    --mediumGrey: hsla(216, 12%, 54%, 0.205);
    --darkBlue: hsl(213, 19%, 18%);
    --veryDarkBlue: hsl(216, 12%, 8%);
  }

  * {
      box-sizing: border-box;
  }

  body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: "Overpass", sans-serif;
    background-color: var(--veryDarkBlue);
    display: flex;
    justify-content: center;
    align-items: center;
  }